@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400);

body{
	box-sizing:border-box;
	margin:0px;
	padding:0px;
	font-size:22px;
	height:100vh;
	background-color: #222222; 
}

body *{
	box-sizing:border-box;
	font-family: 'Josefin Sans';
	outline:none;
}

.container{
	text-align:center;
	margin:auto;
	width:96%;
}

input,select{
	border:none;
	margin: .4em .4em;
	padding:.2em 0;
	font-size:.9em;
	text-align:center;
	color:#8F8F8F;
	text-shadow:1px 1px 1px #3F3F3F;
	
	background: #313131; 
	background: -webkit-linear-gradient(left top, #4F4F4F, #313131);
	background: -o-linear-gradient(bottom right, #4F4F4F, #313131);
	background: -moz-linear-gradient(bottom right, #4F4F4F, #313131);
	background: linear-gradient(to bottom right, #4F4F4F, #313131);
	
	box-shadow: 5px 5px 6px -3px #313131 inset, 4px 4px 7px #0F0F0F;
	transition: box-shadow .3s ease-out, color .3s .5s ease-out;
}

input:focus,select:focus{
	box-shadow: 5px 5px 6px -3px #313131 inset, 4px 4px 7px #1F1F1F;
	color:#1de9b6;
}

option{
	background: #313131;
	font-size:.8em;
}

::placeholder{color:#6F6F6F;}
::-webkit-input-placeholder{color:#6F6F6F;}
:-ms-input-placeholder{color:#6F6F6F;}
::-ms-input-placeholder{color:#6F6F6F;}
:-moz-placeholder{color:#6F6F6F;}
::-moz-placeholder{color:#6F6F6F;}

.outbox,#outputCont{
	color:rgba(173,165,161,1);
	text-shadow:1px 1px 2px rgba(124,80,80,1);
	text-align:left;
	margin: .1em auto;	
	padding:0;
	line-height:2em;
	padding-left:1em;
	background-color:rgba(51,49,60,1);
	background: linear-gradient(2deg,rgba(51,49,60,1),rgba(51,49,60,.2)),
				linear-gradient(to right,rgba(64,56,67,1),rgba(159,94,90,1),rgba(187,177,168,1));
	box-shadow: 8px 8px 7px #0F0F0F,1px 1px 8px 2px rgba(0,0,0,.4) inset;	

}

.outbox {
	padding:.2em;
	padding-left:1em;
	overflow:auto;
}

#validOutput{
	margin:0px;
	padding:0px;
	height:auto;
}

#outputCont{
	overflow:hidden;
	height:0px;
	transition: height .3s ease-in-out;
}


h3{
	margin: 1em auto;
	margin-bottom: .1em;
	font-weight:normal;
	font-size:.8em;
	text-align: left;
	color:#6F6F6F;
}

@media all and (max-width: 450px), all and (max-device-width:450px) {
	input,select{
		margin:.2em 0;
		width:100%;
	}
	.outbox{
		height:5em;		
	}
	#outputCont{
		padding-left:.2em;
	}
}

@media all and (min-width: 451px) and (max-width: 1300px) and (min-device-width:451px){
	.container{
		max-width:750px;
	}
	input{
		width:45%;
		max-width: 260px;
	}
	#outputCont,select{
		width:94%;
		max-width: calc(520px + 3%);
	}
	.outbox{
		height:7em;		
	}
}

@media all and (min-width: 1301px) {
	.container{
		min-width:100%;
	}
	
	input{
		width: 200px;
	}
	select{
		width:200px;
	}
	
	.outbox{
		height:7em;		
	}
	.outbox, h3,#outputCont{
		max-width:750px;
	}
}


